@import "./variables";

header{
    background-color: $headerColor;
}

nav{
    background-color: $navColor;
}

h1{
    background-color: $h1Color;
}

article{
    background-color: $articleColor;
}

aside{
    background-color: $asideColor;
}

footer{
    background-color: $footerColor;
}